<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="create_repo.css" rel="stylesheet" type="text/css" />
<title>无标题文档</title>
</head>

<body>
	<div id="repo">
	  <div id="repo_table">
      	 <table width="734">
	    <tr>
	      <td width="105">试剂库编号：</td>
	      <td width="364" align="center">&nbsp;<input type="text" name=""/></td>
          <td width="254"><span><span></td>
        </tr>
	    <tr>
	      <td>试剂库名称：</td>
	      <td>&nbsp;<input type="text" name=""/></td>
           <td><span><span></td>
        </tr>
	    <tr>
	      <td>所在单位：</td>
	      <td>&nbsp;<input type="text" name=""/></td>
           <td><span><span></td>
        </tr>
	    <tr>
	      <td>存放地点：</td>
	      <td>&nbsp;<input type="text" name=""/></td>
           <td><span><span></td>
        </tr>
	    <tr>
	      <td>Email：</td>
	      <td>&nbsp;<input type="text" name=""/></td>
           <td><span><span></td>
        </tr>
	    <tr>
	      <td>联系电话：</td>
	      <td>&nbsp;<input type="text" name=""/></td>
           <td><span><span></td>
        </tr>
	    <tr>
	      <td height="38">QQ：</td>
     <td>&nbsp;<input type="text" name=""/></td>
           <td><span><span></td>
        </tr>
	    <tr>
	      <td height="40" colspan="3" bgcolor="#FFFFFF" class="btn">&nbsp;
          	   <input type="button" name="提交" value="提交"/>
               <input type="button" name="取消" value="取消" />
           </td>
          </tr>
      </table>
      </div>
	 
</div>
</body>
</html>
