#shijiku {
		margin:0 auto;
		border:1px solid #3CF;
	}

table {
	text-align: center;
}

tr {
	height: 37px;
}
th {
	color: #FFFFFF;
}

.hoverclass {
	background-color: #BCD6EF;
}

.head {
	font:  30px 微软雅黑;
}