<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<div id="shiji_mgr">
  <p>试剂列表：</p>
  <p>&nbsp;</p>
  <table width="95%" height="706" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td height="42" align="left" valign="top" class="STYLE5">
                  <table width="730" height="36" border="0" cellpadding="0" cellspacing="0" background="Image/标题背景.jpg">
                    <tbody><tr>
                      <td width="736">
                        <table width="98%" height="22" border="0" cellpadding="0" cellspacing="0">
                          <tbody><tr>
                            <td width="41%" align="left">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="10%">&nbsp;</td>
                                  <td width="90%"><img src="Image/标题文字-高纯试剂.jpg" width="65" height="20"></td>
                                </tr>
                              </tbody></table>
                            </td>
                            <td width="38%" align="right"><a href="Index.aspx"><img src="Image/Home标志.jpg" width="13" height="14" border="0"></a></td>
                            <td width="21%" class="rowspacingA">&nbsp;<span class="rowspacingB">HOME</span> &gt; 产品 &gt; 高纯试剂</td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td height="542" align="center" valign="top" line-height:150%="">
                  <table width="95%" height="627" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                      <td height="627" align="center" valign="top">
                        <p>&nbsp;</p>
                        <table width="80%" height="880" border="0" cellpadding="0" cellspacing="1" bgcolor="#9BBA30" id="Table_1">
                          <tbody><tr style="background-color: rgb(242, 253, 219);">
                            <td width="37%" align="center" valign="middle" bgcolor="#DBFA9A" class="rowspacing8">品名</td>
                            <td width="13%" align="center" valign="middle" bgcolor="#DBFA9A" class="rowspacing8">等级</td>
                            <td width="37%" align="center" valign="middle" bgcolor="#DBFA9A" class="rowspacing8">品名</td>
                            <td width="13%" align="center" valign="middle" bgcolor="#DBFA9A" class="rowspacing8">等级</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 204);">
                            <td align="left" class="rowspacing8">&nbsp;硝酸</td>
                            <td align="center" class="rowspacing8">工超</td>
                            <td align="left" class="rowspacing8">&nbsp;硫酸铟</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 204);">
                            <td align="left" class="rowspacing8">&nbsp;钼酸铵</td>
                            <td align="center" class="rowspacing8">4N</td>
                            <td align="left" class="rowspacing8">&nbsp;三氯化铟</td>
                            <td width="13%" align="center" class="rowspacing8">4N</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;四氯金酸钾</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;氧化铟</td>
                            <td width="13%" align="center" class="rowspacing8">4N</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;碳酸锂</td>
                            <td align="center" class="rowspacing8">4N	SP</td>
                            <td align="left" class="rowspacing8">&nbsp;铟</td>
                            <td width="13%" align="center" class="rowspacing8">4N</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;氧化铝</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;三氧化二锑</td>
                            <td width="13%" align="center" class="rowspacing8">4N</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;硝酸铝</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;氯化铯</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;溴化钾</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;硝酸铯</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;磷酸二氢钾 </td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;氧氯化锆</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;碳酸钾</td>
                            <td align="center" class="rowspacing8">4N</td>
                            <td align="left" class="rowspacing8">&nbsp;二氧化锆</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;碘化钾</td>
                            <td align="center" class="rowspacing8">4N</td>
                            <td align="left" class="rowspacing8">&nbsp;海绵钯</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;氯化钾</td>
                            <td align="center" class="rowspacing8">4N</td>
                            <td align="left" class="rowspacing8">&nbsp;氯亚钯酸铵</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;二氧化钛</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;三氧化钼</td>
                            <td width="13%" align="center" class="rowspacing8">4N</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;三氧化二铁</td>
                            <td align="center" class="rowspacing8">4N</td>
                            <td align="left" class="rowspacing8">&nbsp;氧化镓</td>
                            <td width="13%" align="center" class="rowspacing8">5N</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;二氧化锰</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;三氧化钨</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;一氧化硅</td>
                            <td align="center" class="rowspacing8">4N</td>
                            <td align="left" class="rowspacing8">&nbsp;二氧化硅</td>
                            <td width="13%" align="center" class="rowspacing8">4N	SP</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;氧化镁</td>
                            <td align="center" class="rowspacing8">4N	SP</td>
                            <td align="left" class="rowspacing8">&nbsp;氯化镍</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;硫酸镍</td>
                            <td align="center" class="rowspacing8">SP</td>
                            <td align="left" class="rowspacing8">&nbsp;镍粉</td>
                            <td width="13%" align="center" class="rowspacing8">SP</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;氧氯化磷</td>
                            <td align="center" class="rowspacing8">电子纯</td>
                            <td align="left" class="rowspacing8">&nbsp;正硅酸乙酯</td>
                            <td width="13%" align="center" class="rowspacing8">工超</td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;异丙醇</td>
                            <td align="center" class="rowspacing8">电子纯</td>
                            <td align="left" class="rowspacing8">&nbsp;丙酮</td>
                            <td width="13%" align="center" class="rowspacing8">电子纯</td>
                          </tr>
                          <tr style="background-color: rgb(242, 253, 219);">
                            <td align="left" class="rowspacing8">&nbsp;乙醇</td>
                            <td align="center" class="rowspacing8">电子纯</td>
                            <td align="left" class="rowspacing8">&nbsp;纯二氧化硅乳胶</td>
                            <td width="13%" align="center" class="rowspacing8"></td>
                          </tr>
                          <tr style="background-color: rgb(255, 255, 255);">
                            <td align="left" class="rowspacing8">&nbsp;掺砷、磷、硼乳胶</td>
                            <td align="center" class="rowspacing8"></td>
                            <td align="left" class="rowspacing8"></td>
                            <td width="13%" align="center" class="rowspacing8"></td>
                          </tr>
                        </tbody></table>
                        <p>&nbsp;</p>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
</div>
</body>
</html>
