<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="find_repo.css" rel="stylesheet" type="text/css" />
<title>无标题文档</title>
</head>

<body>
<div id="search">
	<form id="form1" name="form1" method="get" action="">
 		关键词:
 	<input name="keys" type="text" value="" size="30">
    <input type="submit" name="Submit" value="搜索试剂库">
  </form>
</div>

<table cellspacing="1" cellpadding="0" bgcolor="#00CCFF" width="98%" align="center" border="0" class="tablect" style="padding:3px">
              <tbody>
			  <tr bgcolor="#FFFFFF"><td width="15%">试剂库编号</td><td width="20%">试剂库名称</td><td>所属单位</td><td width="40%">操作</td></tr>
	
<tr bgcolor="#FFFFFF">
<td>1</td>

<td>危险化学品</td>

<td>西北大学</td>
<td><a href="#">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></td>
</tr>




              </tbody>
			 </table>
</body>
</html>
